body {
    font-size: 10pt;    
    padding-left: 30pt;
    padding-right: 30pt;
}

img {
    padding: 3pt;
    float: right;
}

h1 {
    font-size: 50pt;
    text-align: center;
}

nav {
    text-align: center;
}