div.navbar{
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 100;
}
.navbar *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    background: lightcyan;
}
.navbar nav{
    background: linear-gradient(180deg, black, rgb(58, 56, 56));
    height: 50px;
}
.navbar nav:after{
    content: '';
    clear: both;
    display: table;
}
.navbar nav .logo{
    float: left;
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
    padding-left: 30px;
    /*display: ;*/
}
.navbar nav ul{
    float: right;
    text-align: center;
    list-style: none;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    z-index: 1;
}
.navbar nav ul li{
    display: inline-block;
    background: none;
    margin: 0px 0px;
}
.navbar nav ul li a{
    color: white;
    text-decoration: none;
    line-height: 50px;
    font-size: 15px;
    padding: 8px 15px;
}
.navbar nav ul li a:hover{
    color:cyan;
    box-shadow: 0 0 5px #33ffff,
                        #66ffff;
    border-bottom: 2px solid cyan;
}
.navbar nav ul ul{
    position: absolute;
    top: 50px;
    opacity: 0;
    visibility: hidden;
    transition: top .1s;
}
.navbar nav ul li:hover > ul{
    top: 48px;
    opacity: 1;
    visibility: visible;
}
.navbar nav ul ul li{
    position: relative;
    margin: 0px;
    left: -20px;
    width: fit-content;
    float: none;
    display: list-item;
    background: radial-gradient(black, rgb(58, 56, 56));
    z-index: 2;
    
}
.navbar nav ul ul ul li{
    width: 100px;
    position: relative;
    top: -52px;
    left: 130%;
    z-index: 1;
}
.navbar nav ul ul li a{
    line-height: 50px;
}