
.main_content{
    text-align: center;
    background-color: lightcyan;
}

body.demo {
    font-size: 10pt;    
}

img.demo {
    padding: 3pt;
    float: right;
}

h1.demo{
    text-align: center;
    font-size: 20pt;
}

h2.demo{
    text-align: center;
    font-size: 20pt;
}

h4.demo{
    font-size: 18pt;
}


