body, html{
    background-color: lightcyan;
    padding-top: 24px;
}

#dropdown_container{
    margin: auto;
    width: 75%;
    height: 30px;
    background-color: black;
}

#dropdown_colors{
    position: relative;
    float: left;
    z-index: 999;
}

#make_button{
    position: relative;
    float: left;
    z-index: 999;
}

#move{
    position: absolute;
    float: left;
    visibility: visible;
    z-index: 999;
}

#stop{
    position: absolute;
    visibility: hidden;
    z-index: 999;
}

#total{
    position: relative;
    font-size: 18pt;
    padding-left: 200px;
    color: white;
}